* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}


.app {
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 100vh;
}


nav {
  background: #ffffff;
  color: #000112;
  padding: 24px;
  border-right: 1px solid #e4ebfa;
}

nav h4 {
  color: #828fa3;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

nav button {
  width: 100%;
  border: none;
  background: #635fc7;
  color: #ffffff;
  padding: 12px 14px;
  border-radius: 24px;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
}

.app > div {
  display: flex;
  flex-direction: column;
  background: #f4f7fd;
}

header {
  background: #ffffff;
  padding: 24px;
  border-bottom: 1px solid #e4ebfa;
}

main {
  padding: 24px;
}

.logo {
  height: 30px;
  margin-bottom: 32px;
}