* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --purple: #635fc7;

  /* Neutrals */
  --black: #000112;
  --grey: #828fa3;
  --lines: #e4ebfa;
  --bg: #f4f7fd;
  --white: #ffffff;

  /* Column dots */
  --todo: #49c4e5;
  --doing: #8471f2;
  --done: #67e2ae;
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--black);
}


.app {
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 100vh;
}


nav {
background: var(--white);
  color: var(--black);
  padding: 24px;
  border-right: 1px solid #e4ebfa;
}

nav h4 {
  color: var(--grey);
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

nav button {
  width: 100%;
  border: none;
  background: var(--purple);
  color: var(--white);
  padding: 12px 16px;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
    border-radius: 0 24px 24px 0;
}

.app > div {
  display: flex;
  flex-direction: column;
  background: #f4f7fd;
}

header {
 background: var(--white);
 border-bottom: 1px solid var(--lines);
 padding: 24px;
 
}


.logo {
  height: 30px;
  margin-bottom: 32px;
}


main {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding: 24px;
}

main > div {
  width: 320px;
}

main > div > div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}


main > div > div:first-child span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}


/* TODO */
main > div:nth-child(1) span {
  background: var(--todo);
}

/* DOING */
main > div:nth-child(2) span {
 background: var(--doing);
}

/* DONE */
main > div:nth-child(3) span {
 background: var(--done);
}

main > div > div:first-child h4 {
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--grey);
}

/* ===== TASK CARDS ===== */
main > div > div:nth-child(2) > div {
  background: var(--white);
  border-radius: 8px;
  padding: 16px;
  font-weight: 700;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(54, 78, 126, 0.1);
}

main > div > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 14px;
}