* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}


.app {
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 100vh;
}


nav {
  background: #2b2c37;
  color: white;
  padding: 24px;
}

.app > div {
  display: flex;
  flex-direction: column;
  background: #f4f7fd;
}

header {
  background: #ffffff;
  padding: 24px;
  border-bottom: 1px solid #e4ebfa;
}

main {
  padding: 24px;
}