
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap" rel="stylesheet">

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --purple: #635fc7;

  /* Neutrals */
  --black: #000112;
  --grey: #828fa3;
  --lines: #e4ebfa;
  --bg: #f4f7fd;
  --white: #ffffff;

  /* Column dots */
  --todo: #49c4e5;
  --doing: #8471f2;
  --done: #67e2ae;
}

body {
font-family: "Plus Jakarta Sans", Arial, sans-serif;
  background: var(--bg);
  color: var(--black);
}


.app {
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 100vh;
}


nav {
background: var(--white);
  color: var(--black);
  padding: 24px;
border-right: 1px solid var(--lines);
}

nav h4 {
  color: var(--grey);
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

nav button {
  width: 100%;
  border: none;
  background: var(--purple);
  color: var(--white);
  padding: 12px 16px;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
    border-radius: 0 24px 24px 0;
}

.app > div {
  display: flex;
  flex-direction: column;
  background: var(--bg);
}

header {
 background: var(--white);
 border-bottom: 1px solid var(--lines);
 padding: 24px;
 
}


.logo {
  height: 30px;
  margin-bottom: 32px;
}


main {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  padding: 24px;
}

main > div {
  width: 320px;
}

main > div > div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}


main > div > div:first-child span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}


/* TODO */
main > div:nth-child(1) span {
  background: var(--todo);
}

/* DOING */
main > div:nth-child(2) span {
 background: var(--doing);
}

/* DONE */
main > div:nth-child(3) span {
 background: var(--done);
}

main > div > div:first-child h4 {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--grey);
  text-transform: uppercase;
}

/* ===== TASK CARDS ===== */
main > div > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
main > div > div:last-child > div {
  background: var(--white);
  border-radius: 10px;
  padding: 16px;
  font-weight: 700;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(54, 78, 126, 0.12);
}

@media (max-width: 768px) {
  .app {
    grid-template-columns: 1fr;
  }

  nav {
    display: none;
  }

  main {
    flex-direction: column;
    gap: 20px;
  }

  main > div {
    width: 100%;
  }
}

.app > div > div {
  padding-top: 8px;
}